<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="home">The Zenith Society</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
                <li><a routerLink="/login" routerLinkActive="active" (click)="authenticationService.logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container body-content">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">The Zenith Society</h1>
            <p class="lead">is a family oriented non-for-profit organization that holds events during the week.</p>
        </div>
    </div>
    <hr/>
    
    <router-outlet></router-outlet>

    <hr />
    <div class="container">
        <footer>
            <p><strong>&copy; 2017 - The Zenith Society</strong></p>
        </footer>
    </div>
</div>
